[submodule "src/isaac_ros_image_pipeline"]
	path = src/isaac_ros_image_pipeline
	url = git@github.com:NVIDIA-ISAAC-ROS/isaac_ros_image_pipeline.git
[submodule "src/isaac_ros_nitros"]
	path = src/isaac_ros_nitros
	url = git@github.com:NVIDIA-ISAAC-ROS/isaac_ros_nitros.git
[submodule "src/isaac_ros_visual_slam"]
	path = src/isaac_ros_visual_slam
	url = git@github.com:NVIDIA-ISAAC-ROS/isaac_ros_visual_slam.git
[submodule "src/isaac_ros_common"]
	path = src/isaac_ros_common
	url = git@github.com:NVIDIA-ISAAC-ROS/isaac_ros_common.git
[submodule "src/oakd_s2/external/flyStereo"]
	path = src/oakd_s2/external/flyStereo
	url = git@github.com:msardonini/flyStereo.git
[submodule "src/luxonis/depthai-ros"]
	path = src/luxonis/depthai-ros
	url = https://github.com/luxonis/depthai-ros.git
